@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  background: #0a192f;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scrollbar-width: thin;
  -webkit-scrollbar-color: #8750f7 #2a1454;
  scrollbar-color: #8750f7 #2a1454;
}

.btn-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.gradient-text {
  background-image: linear-gradient(to right, #8750f7 0%, #ffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 72px;
}

.custom-gradient {
  background-image: linear-gradient(
    to right,
    #8750f7 0%,
    /* theme primary */ #2a1454 51%,
    /* theme secondary */ #8750f7 100%
  );
  border: none;
  display: block;
  transition: 0.4s;
  background-size: 200% auto;
}

.custom-gradient:hover {
  background-position: right center;
}

/* skills  */
.skill-item {
  width: 180px;
  height: 180px;
  border: 1px solid transparent;
}
.skill-item:hover {
  border: 1px solid #8750f7;
  transition: 0.4s;
  cursor: pointer;
  padding: 20px 20px;
  transition: 0.3s all ease-in-out;
  border-radius: 25px;
}
.icon-box img {
  filter: grayscale(90%);
  transition: scale 750ms ease-out, 
  filter 250ms ease-in-out;
}
.skill-item:hover .icon-box img {
  filter: grayscale(0);
  scale: 1.15;
}

/* hero seciton  */
.hero-image {
  border-radius: 38px;
  width: 100%;
  max-width: 350px;
  /* height: 450px; */
  height: 70vh;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  border: 2px solid #fff;
  transform: rotate(4.29deg);
}
.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 38px;
  transition: 0.4s;
  background-color: #0a192f;
}
.hero-image:hover {
  border: 2px solid #8750f7;
  transform: scale(1.05);
  transform: rotate(-4deg) translate;
}


/* contact  */
/* 
input{
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #2e343b;
}
input:focus{
border-color: #8750f7;
} */

.timeline-item {
  position: relative;
  padding: 20px 30px;
  border-radius: 20px;
  z-index: 10;
  margin-bottom: 40px;
  cursor: pointer;
  transition: 
    background-image 2s ease-in-out,
    color 0.4s ease-in-out,
    filter 0.4s ease-in-out;
}

.timeline-date {
  color: #8750f7;
  transition: color 0.4s ease-in-out;
}

.timeline-item:hover .timeline-date {
  color: white;
}

.timeline-item:hover {
  background-image: linear-gradient(260deg, #2a1454 0%, #7d52d2 100%);
  color: white; 
  filter: brightness(1.1);  
}


/* Portfolio   */
/* src/components/RecentWorks.css */

.recent-works {
  text-align: center;
  color: #d1c4e9;
  background-color: #0a192f;
  padding: 20px;
  width: 100%;
}

.heading {
  font-size: 2rem;
  color: #b39ddb;
}

.category-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.category-buttons button {
  background: #0a192f;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  transition: all 0.2s;
  font-size: 16px;
}

.category-buttons .active {
  background-color: #8750f7;
  color: #fff;
  

}
.category-buttons .active:hover{
  background-color: #8750f7;
  color: #fff;
}

.projects {
  display: grid;
  grid-template-columns: repeat(2, 35%);
  justify-content: center;
  gap: 40px;
  margin-top: 20px;
  min-height: 80vh;
}
@media (max-width: 768px) {
  /* Adjust for tablets and small screens */
  .projects {
    grid-template-columns: 1fr;
  }
  .timeline-item {
    position: relative;
    padding: 15px 15px;
  }
  .category-buttons button {
    padding: 10px 20px;
    margin: 0 2px;
  }
  /* .hero-image{
    height: 60vh;
  } */
}
.project-card {
  background: rgba(10, 25, 47, 0.5);
backdrop-filter: blur(15px);


border: 1px solid rgba(135, 80, 247, 0.3);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  
  text-align: left;
  padding: 8px;
  /* border: 1px solid #636161   ; */
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card {
  transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth transition */
  opacity: 0;
  transform: scale(0.9); /* Initial state */
  transition: 0.5s all;
}

.project-card.zoom-in {
  opacity: 1;
  transform: scale(1); /* Zoom in on tab change */
}
.icon {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  background-image: -o-linear-gradient(289deg, #2a1454 0%, #8750f7 100%);
  background-image: linear-gradient(161deg, #2a1454 0%, #8750f7 100%);
  font-size: 20px;
  line-height: 1;
}
footer {
  position: relative;
  background-color: #0a192f; /* Light gray background for footer */
  padding: 20px;
  text-align: center;
  
}

footer .top {
  width: 70px; /* Adjust size for circle */
  height: 70px;
  position: absolute;
  top: 150px; /* Half of the height to center vertically */
  right: 0;
  transform: translateX(-50%);
  background-color: #ddd; /* Background for the circle */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px; /* Icon size */
  color: #fff; /* Icon color */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  background-image: linear-gradient(
    to bottom,
    #8750f7 0%,
    /* theme primary */ #2a1454 51%,
    /* theme secondary */ #8750f7 100%
  );
}
footer .top:hover {
  background-position: top center;
}

footer .footer-content p {
  color: #666;
  font-size: 18px;
  text-align: center;
}

footer .footer-nav {
  display: flex;
  gap: 15px; /* Spacing between links */
}


.preloader {
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(0); /* Initial position */
}


.animation-container {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10%; /* Start above the first row */
  left: 5%; /* Adjust starting position */
  animation: arrowMovement 10s linear infinite;
}

.arrow {
  width: 20px;
  height: 20px;
  background-color: #8750f7;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

.animation-container {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10%; /* Starting at the top row */
  left: 0%; /* Start at the far left */
  animation: arrowMovement 10s linear infinite;
}

.arrow {
  width: 20px;
  height: 20px;
  background-color: #8750f7;
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
}

@keyframes arrowMovement {
  100% {
    top: 10%; /* Top row */
    left: 0%; /* Start at the left */
  }
  75% {
    top: 10%; 
    left: 100%; /* Move to the far right */
  }
  50% {
    top: 70%; /* Move down to the second row */
    left: 100%; /* Start at the far right */
  }
  25% {
    top: 70%; 
    left: 0%; /* Move back to the far left */
  }
  0% {
    top: 10%; /* Loop back to the top row */
    left: 0%; /* Reset to the starting position */
  }
}



/* 
.custom-cursor {
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: #8750f7;
  
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, opacity 0.2s ease-out;
  z-index: 1000;
} */


















@tailwind base;
@tailwind components;
@tailwind utilities;
